@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap');

.botonera {
    display: flex;
    flex-direction:row;
    margin-top: 30px;

}
.arrows{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}
.number{
    /* display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: normal; */
    /* letter-spacing: 12px; */
    /* flex: row; */
    justify-content: center;

}

.letraNegrita {
    color: aliceblue;
    letter-spacing: 12px;
    text-decoration-style: solid;
    font-weight: 1000;
    /* text-decoration: underline; */
    
}

.letraStandard {
    text-decoration: none;
    
    letter-spacing: 12px;
}
.paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}